* {
    box-sizing: border-box;
}

#gameTitle {
    background-color: rgb(32,172,194);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

#gameInst {
    background-color: rgb(169,195,82);
    padding: 15px;
}

#random {
    background-color: rgb(234,98,37);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#winLose {
    background-color: rgb(234,98,37);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#crystal {
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
}

#scoreHeading {
    background-color: rgb(215,18,249);
    margin-top: 10px;
    padding-top: 5px;
}

#scoreTotal {
    background-color: rgb(227,88,251);
    margin-top: 10px;
    padding-top: 5px;
}

body {
    background: url(../images/what-the-hex.png);
}
